.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

.root {
   visibility: hidden;
}

.pop rect {
   fill: none;
   stroke: rgb(90,90,90);
   stroke-width: 1px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}